@{
    Layout = null;
}
<div class="alert alert-danger" role="alert">
    Giris icazesi yoxdur. Superadminle elaqe saxlayin.
    <a asp-action="Index" asp-controller="Home">Ana Sehifeye kecid</a>
</div>
